# Hi there, I am Zadkiel Aharonian 👋

Linux lover, cloud native builder and open source maintainer from Toulouse, France. I design and operate scalable Kubernetes platforms at **CCL Consulting** and hack on side projects after hours.

## About me

* 💼 Full-stack developer turned platform engineer
* 💡 Open source maintainer and community advocate
* 🏢 Previously at Airbus and Carrefour
* 🎓 Alumni of EPITECH

## Project I maintain

- [aslafy-z/helm-git](https://github.com/aslafy-z/helm-git) - Helm Plugin - Install Helm Charts strait from Git repositories
- [kube-logging/logging-operator](https://github.com/kube-logging/logging-operator) - Logging operator for Kubernetes
- [stakater/application](https://github.com/stakater/application) - Generic helm chart for all kind of applications (today)
- [swapagarwal/swag-for-dev](https://github.com/swapagarwal/swag-for-dev) - 😎 swag opportunities for developers

## 👷 What I'm currently working on

{{range recentContributions 10}}
- [{{.Repo.Name}}]({{.Repo.URL}}) - {{.Repo.Description}} ({{humanize .OccurredAt}})
{{- end}}

<!-- https://github.com/muesli/markscribe/issues/40
## 🔭 Latest releases I've contributed to

{{range recentReleases 10}}
- [{{.Name}}]({{.URL}}) ([{{.LastRelease.TagName}}]({{.LastRelease.URL}}), {{humanize .LastRelease.PublishedAt}}) - {{.Description}}
{{- end}}
-->

## 🔨 Recent Pull Requests

{{range recentPullRequests 10}}
{{- if ne .State "CLOSED"}}
- [{{.Title}}]({{.URL}}) on [{{.Repo.Name}}]({{.Repo.URL}}) ({{humanize .CreatedAt}})
{{- end}}
{{- end}}

## ⭐ Recent Stars

{{range recentStars 10}}
- [{{.Repo.Name}}]({{.Repo.URL}}) - {{.Repo.Description}} ({{humanize .StarredAt}})
{{- end}}

[View all stargazers](https://github.com/aslafy-z/aslafy-z/stargazers?direction=desc&sort=created)

## 📈 Stats

<a href="#"><img height=200 align="center" src="https://github-readme-stats.vercel.app/api?username=aslafy-z&show_icons=true&count_private=true&hide_border=true&theme=transparent" alt="GitHub stats" /></a>
<a href="#"><img height=200 align="center" src="https://github-readme-streak-stats-eight.vercel.app/?user=aslafy-z&hide_border=true&theme=transparent" alt="GitHub streak" /></a>

## Reach me

* 🌐 [zadkiel.fr](https://zadkiel.fr)
* 💬 hello at zadkiel.fr
* 🤝 [LinkedIn](https://go.zadkiel.fr/linkedin)
